.content-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 5rem;
    gap: 2rem;
    color: white;

    .card-details{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      //  height: 100%;
        gap: 2rem;
    
        .card-img{
            height: 30rem;
            border-radius: 0.8rem;
            border: 2px solid white;
          //  width: 35%;
            flex: 0 0 calc(26rem - 5px);
        }
    
        .card-info{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            flex: 1;
        }
    }
}

@media (max-width: 720px) {
    .content-details{
        padding: 1.5rem;
        .card-details{
            flex-direction: column;
            align-items: center;
          
    }
}
}
